<div id="div_control">
<form id="frm_control" name="frm_control" class="hform"  ng-submit="updControl()">
<fieldset> <legend> Editar Control</legend>
    <fieldset>
        <label for="IdControl">IdControl : </label>
        <input type="text" name="IdControl" ng-model="control.IdControl"  value="{{IdControl}}" />
    </fieldset>
    <fieldset>
        <label for="IdControlPadre">IdControlPadre : </label>
        <input type="text" name="IdControlPadre" ng-model="control.IdControlPadre"  value="{{IdControlPadre}}" />
    </fieldset>
    <fieldset>
        <label for="IdIipoControl">IdIipoControl : </label>
        <input type="text" name="IdIipoControl" ng-model="control.IdIipoControl"  value="{{IdIipoControl}}" />
    </fieldset>
    <fieldset>
        <label for="Jerarquia">Jerarquia : </label>
        <input type="text" name="Jerarquia" ng-model="control.Jerarquia"  value="{{Jerarquia}}" />
    </fieldset>
    <fieldset>
        <label for="Nombre">Nombre : </label>
        <input type="text" name="Nombre" ng-model="control.Nombre"  value="{{Nombre}}" />
    </fieldset>
    <fieldset>
        <label for="Valor">Valor : </label>
        <input type="text" name="Valor" ng-model="control.Valor"  value="{{Valor}}" />
    </fieldset>
    <fieldset>
        <label for="Descripcion">Descripcion : </label>
        <input type="text" name="Descripcion" ng-model="control.Descripcion"  value="{{Descripcion}}" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/control/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_control.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>