<div id="div_poligono">
<form id="frm_poligono" name="frm_poligono" class="hform"  ng-submit="updPoligono()">
<fieldset> <legend> Editar Poligono</legend>
    <fieldset>
        <label for="IdPoligono">IdPoligono : </label>
        <input type="text" name="IdPoligono" ng-model="poligono.IdPoligono"  value="{{IdPoligono}}" />
    </fieldset>
    <fieldset>
        <label for="IdPersona">IdPersona : </label>
        <input type="text" name="IdPersona" ng-model="poligono.IdPersona"  value="{{IdPersona}}" />
    </fieldset>
    <fieldset>
        <label for="TipoPoligono">TipoPoligono : </label>
        <input type="text" name="TipoPoligono" ng-model="poligono.TipoPoligono"  value="{{TipoPoligono}}" />
    </fieldset>
    <fieldset>
        <label for="PoliX">PoliX : </label>
        <input type="text" name="PoliX" ng-model="poligono.PoliX"  value="{{PoliX}}" />
    </fieldset>
    <fieldset>
        <label for="PoliY">PoliY : </label>
        <input type="text" name="PoliY" ng-model="poligono.PoliY"  value="{{PoliY}}" />
    </fieldset>
    <fieldset>
        <label for="GeoCerca">GeoCerca : </label>
        <input type="text" name="GeoCerca" ng-model="poligono.GeoCerca"  value="{{GeoCerca}}" />
    </fieldset>
    <fieldset>
        <label for="FechaReg">FechaReg : </label>
        <input type="text" name="FechaReg" ng-model="poligono.FechaReg"  value="{{FechaReg}}" />
    </fieldset>
    <fieldset>
        <label for="Referencia">Referencia : </label>
        <input type="text" name="Referencia" ng-model="poligono.Referencia"  value="{{Referencia}}" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/poligono/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_poligono.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>