
// $white : #F0F1D5 !default;
$secondary: #1a1a1a;

/* $blue  : #105187 !default;
$cyan  : #2C8693 !default;
$yellow: #F19722 !default;
$red   : #C33325 !default;
 */

/* $primary  : $blue !default;
// $secondary: $gray-600 !default;
// $success  : $green !default;
$info     : $cyan !default;
$warning  : $yellow !default;
$danger   : $red !default;
// $light    : $gray-100 !default;
// $dark     : $gray-800 !default; */