<div id="div_usuario">
<form id="frm_usuario" name="frm_usuario" class="hform"  ng-submit="updUsuario()">
<fieldset> <legend> Editar Usuario</legend>
    <fieldset>
        <label for="IdUsuario">IdUsuario : </label>
        <input type="text" name="IdUsuario" ng-model="usuario.IdUsuario"  value="{{IdUsuario}}" />
    </fieldset>
    <fieldset>
        <label for="IdPersona">IdPersona : </label>
        <input type="text" name="IdPersona" ng-model="usuario.IdPersona"  value="{{IdPersona}}" />
    </fieldset>
    <fieldset>
        <label for="IdRol">IdRol : </label>
        <input type="text" name="IdRol" ng-model="usuario.IdRol"  value="{{IdRol}}" />
    </fieldset>
    <fieldset>
        <label for="IdTipoRelacion">IdTipoRelacion : </label>
        <input type="text" name="IdTipoRelacion" ng-model="usuario.IdTipoRelacion"  value="{{IdTipoRelacion}}" />
    </fieldset>
    <fieldset>
        <label for="Usuario">Usuario : </label>
        <input type="text" name="Usuario" ng-model="usuario.Usuario"  value="{{Usuario}}" />
    </fieldset>
    <fieldset>
        <label for="Clave">Clave : </label>
        <input type="text" name="Clave" ng-model="usuario.Clave"  value="{{Clave}}" />
    </fieldset>
    <fieldset>
        <label for="Fecha">Fecha : </label>
        <input type="text" name="Fecha" ng-model="usuario.Fecha"  value="{{Fecha}}" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/usuario/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_usuario.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>