<div id="div_log">
<form id="frm_log" name="frm_log" class="hform"  ng-submit="setLog()">
<fieldset> <legend> Nuevo Log</legend>
    <fieldset>
        <label for="IdLog">IdLog : </label>
        <input type="text" name="IdLog" ng-model="log.IdLog" />
    </fieldset>
    <fieldset>
        <label for="Fecha">Fecha : </label>
        <input type="text" name="Fecha" ng-model="log.Fecha" />
    </fieldset>
    <fieldset>
        <label for="IdUsuario">IdUsuario : </label>
        <input type="text" name="IdUsuario" ng-model="log.IdUsuario" />
    </fieldset>
    <fieldset>
        <label for="Ocurrencia">Ocurrencia : </label>
        <input type="text" name="Ocurrencia" ng-model="log.Ocurrencia" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/log/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_log.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>