<div id="div_perusuario">
<form id="frm_perusuario" name="frm_perusuario" class="hform"  ng-submit="updPerusuario()">
<fieldset> <legend> Editar Perusuario</legend>
    <fieldset>
        <label for="IdPerUsuario">IdPerUsuario : </label>
        <input type="text" name="IdPerUsuario" ng-model="perusuario.IdPerUsuario"  value="{{IdPerUsuario}}" />
    </fieldset>
    <fieldset>
        <label for="PerApellidos">PerApellidos : </label>
        <input type="text" name="PerApellidos" ng-model="perusuario.PerApellidos"  value="{{PerApellidos}}" />
    </fieldset>
    <fieldset>
        <label for="PerNombre">PerNombre : </label>
        <input type="text" name="PerNombre" ng-model="perusuario.PerNombre"  value="{{PerNombre}}" />
    </fieldset>
    <fieldset>
        <label for="PerUsuario">PerUsuario : </label>
        <input type="text" name="PerUsuario" ng-model="perusuario.PerUsuario"  value="{{PerUsuario}}" />
    </fieldset>
    <fieldset>
        <label for="PerPassword">PerPassword : </label>
        <input type="text" name="PerPassword" ng-model="perusuario.PerPassword"  value="{{PerPassword}}" />
    </fieldset>
    <fieldset>
        <label for="FechaReg">FechaReg : </label>
        <input type="text" name="FechaReg" ng-model="perusuario.FechaReg"  value="{{FechaReg}}" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/perusuario/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_perusuario.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>