<div id="div_vehiculo_alerta">
<form id="frm_vehiculo_alerta" name="frm_vehiculo_alerta" class="hform"  ng-submit="updVehiculo_alerta()">
<fieldset> <legend> Editar Vehiculo_alerta</legend>
    <fieldset>
        <label for="IdVehiculoAlerta">IdVehiculoAlerta : </label>
        <input type="text" name="IdVehiculoAlerta" ng-model="vehiculo_alerta.IdVehiculoAlerta"  value="{{IdVehiculoAlerta}}" />
    </fieldset>
    <fieldset>
        <label for="IdVehiculo">IdVehiculo : </label>
        <input type="text" name="IdVehiculo" ng-model="vehiculo_alerta.IdVehiculo"  value="{{IdVehiculo}}" />
    </fieldset>
    <fieldset>
        <label for="IdCcellocator">IdCcellocator : </label>
        <input type="text" name="IdCcellocator" ng-model="vehiculo_alerta.IdCcellocator"  value="{{IdCcellocator}}" />
    </fieldset>
    <fieldset>
        <label for="RMUId">RMUId : </label>
        <input type="text" name="RMUId" ng-model="vehiculo_alerta.RMUId"  value="{{RMUId}}" />
    </fieldset>
    <fieldset>
        <label for="GPSX">GPSX : </label>
        <input type="text" name="GPSX" ng-model="vehiculo_alerta.GPSX"  value="{{GPSX}}" />
    </fieldset>
    <fieldset>
        <label for="GPSY">GPSY : </label>
        <input type="text" name="GPSY" ng-model="vehiculo_alerta.GPSY"  value="{{GPSY}}" />
    </fieldset>
    <fieldset>
        <label for="Speed">Speed : </label>
        <input type="text" name="Speed" ng-model="vehiculo_alerta.Speed"  value="{{Speed}}" />
    </fieldset>
    <fieldset>
        <label for="Direction">Direction : </label>
        <input type="text" name="Direction" ng-model="vehiculo_alerta.Direction"  value="{{Direction}}" />
    </fieldset>
    <fieldset>
        <label for="UTCTime">UTCTime : </label>
        <input type="text" name="UTCTime" ng-model="vehiculo_alerta.UTCTime"  value="{{UTCTime}}" />
    </fieldset>
    <fieldset>
        <label for="FechaRegistro">FechaRegistro : </label>
        <input type="text" name="FechaRegistro" ng-model="vehiculo_alerta.FechaRegistro"  value="{{FechaRegistro}}" />
    </fieldset>
    <fieldset>
        <label for="InputVoltage">InputVoltage : </label>
        <input type="text" name="InputVoltage" ng-model="vehiculo_alerta.InputVoltage"  value="{{InputVoltage}}" />
    </fieldset>
    <fieldset>
        <label for="IdTipoAlerta">IdTipoAlerta : </label>
        <input type="text" name="IdTipoAlerta" ng-model="vehiculo_alerta.IdTipoAlerta"  value="{{IdTipoAlerta}}" />
    </fieldset>
    <fieldset>
        <label for="Referencia">Referencia : </label>
        <input type="text" name="Referencia" ng-model="vehiculo_alerta.Referencia"  value="{{Referencia}}" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/vehiculo_alerta/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_vehiculo_alerta.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>