<div id="div_persona">
<form id="frm_persona" name="frm_persona" class="hform"  ng-submit="setPersona()">
<fieldset> <legend> Nuevo Persona</legend>
    <fieldset>
        <label for="idpersona">idpersona : </label>
        <input type="text" name="idpersona" ng-model="persona.idpersona" />
    </fieldset>
    <fieldset>
        <label for="nombre">nombre : </label>
        <input type="text" name="nombre" ng-model="persona.nombre" />
    </fieldset>
    <fieldset>
        <label for="nacimiento">nacimiento : </label>
        <input type="text" name="nacimiento" ng-model="persona.nacimiento" />
    </fieldset>
    <fieldset>
        <label for="tipo">tipo : </label>
        <input type="text" name="tipo" ng-model="persona.tipo" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/persona/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_persona.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>