<div id="div_rol_control">
<form id="frm_rol_control" name="frm_rol_control" class="hform"  ng-submit="setRol_control()">
<fieldset> <legend> Nuevo Rol_control</legend>
    <fieldset>
        <label for="IdRolControl">IdRolControl : </label>
        <input type="text" name="IdRolControl" ng-model="rol_control.IdRolControl" />
    </fieldset>
    <fieldset>
        <label for="IdRrol">IdRrol : </label>
        <input type="text" name="IdRrol" ng-model="rol_control.IdRrol" />
    </fieldset>
    <fieldset>
        <label for="IdControl">IdControl : </label>
        <input type="text" name="IdControl" ng-model="rol_control.IdControl" />
    </fieldset>
    <fieldset>
        <label for="Referencia">Referencia : </label>
        <input type="text" name="Referencia" ng-model="rol_control.Referencia" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/rol_control/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_rol_control.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>