<div id="div_bitacora">
<form id="frm_bitacora" name="frm_bitacora" class="hform"  ng-submit="setBitacora()">
<fieldset> <legend> Nuevo Bitacora</legend>
    <fieldset>
        <label for="idbitacora">idbitacora : </label>
        <input type="text" name="idbitacora" ng-model="bitacora.idbitacora" />
    </fieldset>
    <fieldset>
        <label for="idusuario">idusuario : </label>
        <input type="text" name="idusuario" ng-model="bitacora.idusuario" />
    </fieldset>
    <fieldset>
        <label for="idtipooperacion">idtipooperacion : </label>
        <input type="text" name="idtipooperacion" ng-model="bitacora.idtipooperacion" />
    </fieldset>
    <fieldset>
        <label for="registro">registro : </label>
        <input type="text" name="registro" ng-model="bitacora.registro" />
    </fieldset>
    <fieldset>
        <label for="referencia">referencia : </label>
        <input type="text" name="referencia" ng-model="bitacora.referencia" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/bitacora/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_bitacora.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>