<div id="div_cellocator">
<form id="frm_cellocator" name="frm_cellocator" class="hform"  ng-submit="setCellocator()">
<fieldset> <legend> Nuevo Cellocator</legend>
    <fieldset>
        <label for="IdRastreo">IdRastreo : </label>
        <input type="text" name="IdRastreo" ng-model="cellocator.IdRastreo" />
    </fieldset>
    <fieldset>
        <label for="RMUId">RMUId : </label>
        <input type="text" name="RMUId" ng-model="cellocator.RMUId" />
    </fieldset>
    <fieldset>
        <label for="CellDateTime">CellDateTime : </label>
        <input type="text" name="CellDateTime" ng-model="cellocator.CellDateTime" />
    </fieldset>
    <fieldset>
        <label for="GPSX">GPSX : </label>
        <input type="text" name="GPSX" ng-model="cellocator.GPSX" />
    </fieldset>
    <fieldset>
        <label for="GPSY">GPSY : </label>
        <input type="text" name="GPSY" ng-model="cellocator.GPSY" />
    </fieldset>
    <fieldset>
        <label for="GPSDateTime">GPSDateTime : </label>
        <input type="text" name="GPSDateTime" ng-model="cellocator.GPSDateTime" />
    </fieldset>
    <fieldset>
        <label for="Speed">Speed : </label>
        <input type="text" name="Speed" ng-model="cellocator.Speed" />
    </fieldset>
    <fieldset>
        <label for="Direction">Direction : </label>
        <input type="text" name="Direction" ng-model="cellocator.Direction" />
    </fieldset>
    <fieldset>
        <label for="NumOfSat">NumOfSat : </label>
        <input type="text" name="NumOfSat" ng-model="cellocator.NumOfSat" />
    </fieldset>
    <fieldset>
        <label for="LocQuality">LocQuality : </label>
        <input type="text" name="LocQuality" ng-model="cellocator.LocQuality" />
    </fieldset>
    <fieldset>
        <label for="EngineOn">EngineOn : </label>
        <input type="text" name="EngineOn" ng-model="cellocator.EngineOn" />
    </fieldset>
    <fieldset>
        <label for="ExtInputA">ExtInputA : </label>
        <input type="text" name="ExtInputA" ng-model="cellocator.ExtInputA" />
    </fieldset>
    <fieldset>
        <label for="ExtInputB">ExtInputB : </label>
        <input type="text" name="ExtInputB" ng-model="cellocator.ExtInputB" />
    </fieldset>
    <fieldset>
        <label for="ExtInputC">ExtInputC : </label>
        <input type="text" name="ExtInputC" ng-model="cellocator.ExtInputC" />
    </fieldset>
    <fieldset>
        <label for="ExtInputD">ExtInputD : </label>
        <input type="text" name="ExtInputD" ng-model="cellocator.ExtInputD" />
    </fieldset>
    <fieldset>
        <label for="ExtInputE">ExtInputE : </label>
        <input type="text" name="ExtInputE" ng-model="cellocator.ExtInputE" />
    </fieldset>
    <fieldset>
        <label for="ExtInputF">ExtInputF : </label>
        <input type="text" name="ExtInputF" ng-model="cellocator.ExtInputF" />
    </fieldset>
    <fieldset>
        <label for="VersionNum">VersionNum : </label>
        <input type="text" name="VersionNum" ng-model="cellocator.VersionNum" />
    </fieldset>
    <fieldset>
        <label for="IP">IP : </label>
        <input type="text" name="IP" ng-model="cellocator.IP" />
    </fieldset>
    <fieldset>
        <label for="InputVoltage">InputVoltage : </label>
        <input type="text" name="InputVoltage" ng-model="cellocator.InputVoltage" />
    </fieldset>
    <fieldset>
        <label for="BackBatVoltage">BackBatVoltage : </label>
        <input type="text" name="BackBatVoltage" ng-model="cellocator.BackBatVoltage" />
    </fieldset>
    <fieldset>
        <label for="GPSPDOP">GPSPDOP : </label>
        <input type="text" name="GPSPDOP" ng-model="cellocator.GPSPDOP" />
    </fieldset>
    <fieldset>
        <label for="GPSHEIGHT">GPSHEIGHT : </label>
        <input type="text" name="GPSHEIGHT" ng-model="cellocator.GPSHEIGHT" />
    </fieldset>
    <fieldset>
        <label for="NetworkTypeId">NetworkTypeId : </label>
        <input type="text" name="NetworkTypeId" ng-model="cellocator.NetworkTypeId" />
    </fieldset>
    <fieldset>
        <label for="InsertDate">InsertDate : </label>
        <input type="text" name="InsertDate" ng-model="cellocator.InsertDate" />
    </fieldset>
    <fieldset>
        <label for="UTCTime">UTCTime : </label>
        <input type="text" name="UTCTime" ng-model="cellocator.UTCTime" />
    </fieldset>
    <fieldset>
        <label for="DriverId">DriverId : </label>
        <input type="text" name="DriverId" ng-model="cellocator.DriverId" />
    </fieldset>
    <fieldset>
        <label for="TxReasonId">TxReasonId : </label>
        <input type="text" name="TxReasonId" ng-model="cellocator.TxReasonId" />
    </fieldset>
    <fieldset>
        <label for="AlertReason">AlertReason : </label>
        <input type="text" name="AlertReason" ng-model="cellocator.AlertReason" />
    </fieldset>
    <fieldset>
        <label for="Hibernation">Hibernation : </label>
        <input type="text" name="Hibernation" ng-model="cellocator.Hibernation" />
    </fieldset>
    <fieldset>
        <label for="HRNetwork">HRNetwork : </label>
        <input type="text" name="HRNetwork" ng-model="cellocator.HRNetwork" />
    </fieldset>
    <fieldset>
        <label for="MileCounter">MileCounter : </label>
        <input type="text" name="MileCounter" ng-model="cellocator.MileCounter" />
    </fieldset>
    <fieldset>
        <label for="GPSMode1">GPSMode1 : </label>
        <input type="text" name="GPSMode1" ng-model="cellocator.GPSMode1" />
    </fieldset>
    <fieldset>
        <label for="GPSMode2">GPSMode2 : </label>
        <input type="text" name="GPSMode2" ng-model="cellocator.GPSMode2" />
    </fieldset>
    <fieldset>
        <label for="OutputA">OutputA : </label>
        <input type="text" name="OutputA" ng-model="cellocator.OutputA" />
    </fieldset>
    <fieldset>
        <label for="OutputB">OutputB : </label>
        <input type="text" name="OutputB" ng-model="cellocator.OutputB" />
    </fieldset>
    <fieldset>
        <label for="OutputC">OutputC : </label>
        <input type="text" name="OutputC" ng-model="cellocator.OutputC" />
    </fieldset>
    <fieldset>
        <label for="OutputD">OutputD : </label>
        <input type="text" name="OutputD" ng-model="cellocator.OutputD" />
    </fieldset>
    <fieldset>
        <label for="OptionalInput">OptionalInput : </label>
        <input type="text" name="OptionalInput" ng-model="cellocator.OptionalInput" />
    </fieldset>
    <fieldset>
        <label for="GPSCommStatus">GPSCommStatus : </label>
        <input type="text" name="GPSCommStatus" ng-model="cellocator.GPSCommStatus" />
    </fieldset>
    <fieldset>
        <label for="RawData">RawData : </label>
        <input type="text" name="RawData" ng-model="cellocator.RawData" />
    </fieldset>
    <fieldset>
        <label for="PLMN">PLMN : </label>
        <input type="text" name="PLMN" ng-model="cellocator.PLMN" />
    </fieldset>
    <fieldset>
        <label for="SN">SN : </label>
        <input type="text" name="SN" ng-model="cellocator.SN" />
    </fieldset>
    <fieldset>
        <label for="MessageType">MessageType : </label>
        <input type="text" name="MessageType" ng-model="cellocator.MessageType" />
    </fieldset>
    <fieldset>
        <label for="MsgProtocol">MsgProtocol : </label>
        <input type="text" name="MsgProtocol" ng-model="cellocator.MsgProtocol" />
    </fieldset>
    <fieldset>
        <label for="TripId">TripId : </label>
        <input type="text" name="TripId" ng-model="cellocator.TripId" />
    </fieldset>
    <fieldset>
        <label for="ManeuverId">ManeuverId : </label>
        <input type="text" name="ManeuverId" ng-model="cellocator.ManeuverId" />
    </fieldset>
    <fieldset>
        <label for="ManeuverUsage">ManeuverUsage : </label>
        <input type="text" name="ManeuverUsage" ng-model="cellocator.ManeuverUsage" />
    </fieldset>
    <fieldset>
        <label for="AccidentBuffer">AccidentBuffer : </label>
        <input type="text" name="AccidentBuffer" ng-model="cellocator.AccidentBuffer" />
    </fieldset>
    <fieldset>
        <label for="ItemId">ItemId : </label>
        <input type="text" name="ItemId" ng-model="cellocator.ItemId" />
    </fieldset>
     <fieldset class="text-right">
        <button  type="button" id="btnCancelar" onclick="location.href='#/cellocator/listar';">Cancelar </button>
        <button id="btregistrar" ng-disabled="frm_cellocator.$invalid"  >Registrar </button>
    </fieldset>
</fieldset>
</form>
</div>